section.cover
  .container
    .row.middle-lg
      .col-xs-12.col-lg-6
        .cover__picto.cover__picto--beemi
          img(class="cover__img" src="./assets/beemi.svg")
      .col-xs-12.col-lg-6
        .cover__info.cover__info--withPicto
          h2.g-title.g-title--noMargin Obtention du BEEMI
          .cover__text
            p.cover__description.cover__description--sm 
              | A l’issue de cette Summer Week, les participants les plus investis et dont le 
              | travail le mérite, se verront décerner le 
              span.useful.useful--deepBlue BEEMI. 
              | Ce brevet créé par l’EEMI te permettra de te prévaloir d’un niveau minimum de compréhension et de maîtrise des outils web. 
            p.cover__description.cover__description--sm L’obtention du BEEMI te garantit également de pouvoir intégrer l’EEMI lorsque tu auras choisi ta carrière, de découvrir sa pédagogie innovante, rencontrer ses intervenants, ses étudiants et surtout de faire partie d’un réseau de passionnés du web.