section.cover
  .container
    .row
      .col-xs-12.col-lg-offset-1.col-lg-5
        //- img(class="cover__picto" src="")
        p une image
      .col-xs-12.col-lg-6
        .cover__info
          h2.g-title Obtention du BEEMI
          p.cover__description.cover__description--sm A l’issue de cette Summer Week, les participants les plus investis et dont le travail le mérite, se verront obtenir le BEEMI. Ce brevet créé par l’EEMI vous permettra de vous prévaloir d’un niveau minimum de compréhension et de maîtrise des outils web. 
          p.cover__description.cover__description--sm L’obtention du BEEMI vous garantit également de pouvoir intégrer l’EEMI lorsque vous aurez choisi votre carrière, de découvrir sa pédagogie innovante, rencontrer ses intervenants, ses étudiants et surtout de faire partie d’un réseau de passionnés du web.