section.cover.cover--head
  .container
    .row.reverse-lg.middle-lg
      .col-xs-12.col-lg-5
        .cover__picto.cover__picto--head
          img(class="cover__img" src="./assets/monitor-window.svg")
      .col-xs-12.col-lg-7
        .cover__info
          h1.cover__title 
            | Eemi
            br
            | Summer Week
          .cover__text.cover__text--head
            p.cover__description.cover__description--lg Tu es lycéen(e) ? Tu aimes le monde du Web ? Mais... tu n’es pas sûr(e) de ton choix d’orientation post-bac ? Durant une semaine, viens réaliser à l'EEMI un projet web complet qui te permettra de découvrir tous les enjeux du digital et t’aidera dans ton choix de poursuite d’études.
            .cover__flexed
              a.cover__button(href="#subscribe")
                | Inscription ici
                span.cover__button-icon
                  img(src="./assets/arrow.svg", alt="")
              strong.cover__dates du 26/08 au 30/08
        