section.cover.cover--head
  .container
    .row.reverse-lg
      .col-xs-12.col-lg-offset-1.col-lg-5
        //- img(class="cover__picto" src="")
        p une image
      .col-xs-12.col-lg-6
        .cover__info
          h1.cover__title Eemi Summer Week
          p.cover__description.cover__description--lg Vous êtes lycéen ? Vous aimez le monde du Web ? Mais...vous n’êtes pas sûr de votre choix d’orientation post-bac ? Durant  une semaine, venez réaliser à l'EEMI un projet web complet qui vous  permettra de découvrir tous les enjeux du digital et vous aidera dans votre  choix de poursuite d’études.
          a.cover__button
            | Inscription ici
            span.cover__button-icon
        