section.blocks
  .container
    .row
      .col-xs-12
        h2.g-title Et l’EEMI c’est quoi ?
        .blocks__list.blocks__list--orange.col-xs-12
          .row
            .col-xs-12.col-lg-4.col-lg-offset-1.m-bottom
              .blocks__item(data-aos="zoom-out-right" data-aos-offset="300")
                h3.blocks__title.blocks__title--sm Historique
                p.blocks__description L’EEMI est née de la volonté de trois entrepreneurs du web d’ouvrir une école d’un type nouveau, visant à répondre aux besoins créés par la mutation digitale des entreprises.
            .col-xs-12.col-lg-4.col-lg-offset-2.m-bottom.m-top-140.blocks__picto.blocks__picto--eemi(data-aos="zoom-out-left" data-aos-offset="300")
              .blocks__item
                h3.blocks__title.blocks__title--sm Les Fondateurs
                p.blocks__description 
                  span.useful.useful--orange Jacques-Antoine Granjon 
                  | (vente-privee.com), 
                  span.useful.useful--orange Xavier Niel 
                  | (Free), et 
                  span.useful.useful--orange Marc Simoncini 
                  | (Meetic, Sensee), trois entrepreneurs emblématiques du web, ont décidé de créer ensemble l’EEMI pour répondre à leurs besoins propres ainsi qu’à ceux d’un secteur en pleine évolution. 
  
