section.blocks
  .container
    .row
      .col-xs-12
        h2.g-title Une semaine pour...
        .blocks__list.blocks__list--green.col-xs-12
          .row
            .col-xs-12.col-lg-4.col-lg-offset-1.m-bottom
              .blocks__item
                h3.blocks__title.blocks__title--lg 01
                p.blocks__description Comprendre le fonctionnement de l’internet, découvrir les bases du web design et du graphisme, aborder le développement web et la gestion des réseaux sociaux.
            .col-xs-12.col-lg-4.col-lg-offset-2.m-bottom.m-top-140
              .blocks__item
                h3.blocks__title.blocks__title--lg 02
                p.blocks__description Une vision globale des acteurs du Web, imaginée par les fondateurs de Veepee (venteprivee.com), Meetic et Free. L’EEMI, située en plein cœur de Paris, est l’école de référence des métiers du numérique. 
            .col-xs-12.col-lg-4.col-lg-offset-2.m-top-80
              .blocks__item
                h3.blocks__title.blocks__title--lg 03
                p.blocks__description Une semaine intensive pour réaliser un projet web concret. Vous toucherez toutes les facettes des métiers du numérique, encadré par des professionnels du secteur.
  
