section.blocks
  .container
    .row
      .col-xs-12
        h2.g-title Une semaine pour...
        .blocks__list.blocks__list--green.col-xs-12
          .row
            .col-xs-12.col-lg-4.col-lg-offset-1.m-bottom.blocks__picto.blocks__picto--goals
              .blocks__item.blocks__item(data-aos="zoom-out")
                h3.blocks__title.blocks__title--lg 01
                p.blocks__description 
                  | Comprendre 
                  span.useful.useful--greener le fonctionnement de l’internet
                  |, découvrir les bases du web design et du graphisme, aborder le développement web et la gestion des réseaux sociaux.
            .col-xs-12.col-lg-4.col-lg-offset-2.m-bottom.m-top-140
              .blocks__item(data-aos="zoom-out" data-aos-offset="300")
                h3.blocks__title.blocks__title--lg 02
                p.blocks__description 
                  span.useful.useful--greener 100% de pratique, en mode ludique et collaboratif ! 
                  | En passant par les méthodes de design, le développement web, la vision marketing produit et service, nos 3 spécialités enseignées.  
            .col-xs-12.col-lg-4.col-lg-offset-3.m-top-80
              .blocks__item(data-aos="zoom-out" data-aos-offset="300")
                h3.blocks__title.blocks__title--lg 03
                p.blocks__description 
                  | Une semaine intensive pour 
                  span.useful.useful--greener réaliser un projet web concret
                  | . Tu toucheras toutes les facettes des métiers du numérique, encadré par des professionnels du secteur.
  
