.lines
  .lines__container
    .lines__item.lines__item--0
    .lines__item.lines__item--1
    .lines__item.lines__item--2
    .lines__item.lines__item--3
    .lines__item.lines__item--4
    .lines__item.lines__item--5
    .lines__item.lines__item--6