section.team
  .container
    .row.around-lg
      .col-xs-12
        h2.g-title.g-txt-center Une équipe pour vous encadrer
      .col-xs-12.col-lg-4
        .team__member(data-aos="fade-down")
          .team__member-text
            h4.team__member-name David Venin,
            p.team__member-job Développeur Front
          .team__member-pictureContainer
          
      .col-xs-12.col-lg-4.team--withMargin
        .team__member(data-aos="fade-down" data-aos-delay="300")
          .team__member-text
            h4.team__member-name Gabriel Avedikian,
            p.team__member-job Product Designer
          .team__member-pictureContainer
            
      .col-xs-12.col-lg-4.team--withMargin
        .team__member(data-aos="fade-down" data-aos-delay="600")
          .team__member-text
            h4.team__member-name Steven Roussas,
            p.team__member-job Développeur Back
          .team__member-pictureContainer
            