.cover {
  padding: 40px $sidePadding 0;
  &--head {
    @include lg {
      padding: 100px 0 0;
    }
  }
  &__text {
    z-index: 0;
    border-radius: 4px;
    @include lg {
      box-shadow: 0 8px 24px 0 rgba(214,218,255,1);
      padding: 80px 40px 40px;

      position: relative;
      left: -40px;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.21px;
    text-transform: uppercase;
    @include lg {
      margin: 0px 0 -40px 0;
      font-size: 90px;
      line-height: 90px;
      white-space: nowrap;
    }
  }
  &__description {
    margin: 0;
    &--sm {
      font-size: 16px;
      line-height: 24px;
      @include lg {
        padding-right: 70px;
      }
      &:first-child {
        margin-bottom: 54px;
      }
    }
    &--lg {
      margin-bottom: 31px;
      font-size: 24px;
      line-height: 36px;
      background: $lightest;
    }
  }
  &__button {
    height: 60px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px 0 21px;
    font-size: 20px;
    text-transform: uppercase;
    background: $pinkCandy;
    color: $lightest;
    border-radius: 6px;
    cursor: pointer;
    @include lg {
      font-size: 24px;
    }
    &-icon {
      margin-left: 32px;
      display: block;
      width: 40px;
      height: 40px;
      background: $darkPink;
      border-radius: 6px;
    }
  }
}