extends partials/layout.pug

block content
  .app
    include ./components/cover.pug
    include ./components/goals.pug
    include ./components/beemi.pug
    include ./components/eemi.pug
    include ./components/team.pug
