extends partials/layout.pug

block content
  .app
    .content
      include ./components/cover.pug
      include ./components/goals.pug
      include ./components/beemi.pug
      include ./components/eemi.pug
      include ./components/team.pug
      include ./components/footer.pug
    include ./components/lines.pug