.article {
  width: 90%;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 992px) {
    flex-direction: row-reverse;
  }
  &__picture {
    height: 200px;
    background: black;
    @media (min-width: 768px) {
      width: 200px;
    }
  }
  &__container {
    @media (min-width: 768px) {
      width: 460px;
    }
  }
}